<%- include('./header.ejs')%>

    <div class="container bg-light">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-lg-2 bg-primary h-100 ">
                <ul class="nav flex-column mt-3">
                     <h2 class="mx-auto text-white" >Admin Dash</h2>
                    <li class="nav-item">
                        <a class="nav-link text-white" aria-current="page" href="/admin/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/admin/addProduct">Add Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/admin/manageProducts">Manage Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/admin/manageorders">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white " href="/admin/logout">Logout</a>
                    </li>
                </ul>
            </div>