<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand fw-bold text text-primary " href="/">Food Order</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <% if(isLogin) { %>
                    <li class="nav-item">
                        <a class="nav-link " href="/myCard/<%= data._id %>">My Card</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/myOrders/<%= data._id %>">My Orders</a>
                    </li>
                    <% } %>
            </ul>
            <% if(isLogin) { %>
                <a class="btn btn-outline-danger" href="/logout">logout</a>

                <% } else { %><a class="btn btn-outline-success" href="/login">login</a>
                    <% } %>
        </div>
    </div>
</nav>