<%- include('./partials/header.ejs')%>
<%- include('./partials/NavHome.ejs')%>
<section class="bg-light section">
    <div class="container  " id="our products">
        <div class="row g-4 ">
            <div class="col ">
                <div class="card shadow mx-auto" style="width: 18rem;">
                    <img src="/public/images/header.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Pizza</h5>
                        <p>RS 300/=</p>
                        <a href="#" class="btn btn-primary btn-sm shadow">Buy Now</a> <a href="#"
                            class="btn btn-warning btn-sm shadow">Add to card</a>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card shadow mx-auto" style="width: 18rem;">
                    <img src="/public/images/header.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Barger</h5>
                        <p>RS 300/=</p>
                        <a href="#" class="btn btn-primary btn-sm shadow">Buy Now</a> <a href="#"
                            class="btn btn-warning btn-sm shadow">Add to card</a>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card shadow mx-auto" style="width: 18rem;">
                    <img src="/public/images/header.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Non-veg</h5>
                        <p>RS 300/=</p>
                        <a href="#" class="btn btn-primary btn-sm shadow">Buy Now</a> <a href="#"
                            class="btn btn-warning btn-sm shadow">Add to card</a>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card shadow mx-auto" style="width: 18rem;">
                    <img src="/public/images/header.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Pizza</h5>
                        <p>RS 300/=</p>
                        <a href="#" class="btn btn-primary btn-sm shadow">Buy Now</a> <a href="#"
                            class="btn btn-warning btn-sm shadow">Add to card</a>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card shadow mx-auto" style="width: 18rem;">
                    <img src="/public/images/header.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Pizza</h5>
                        <p>RS 300/=</p>
                        <a href="#" class="btn btn-primary btn-sm shadow">Buy Now</a> <a href="#"
                            class="btn btn-warning btn-sm shadow">Add to card</a>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card shadow mx-auto" style="width: 18rem;">
                    <img src="/public/images/header.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Barger</h5>
                        <p>RS 300/=</p>
                        <a href="#" class="btn btn-primary btn-sm shadow">Buy Now</a> <a href="#"
                            class="btn btn-warning btn-sm shadow">Add to card</a>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card shadow mx-auto" style="width: 18rem;">
                    <img src="/public/images/header.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Non-veg</h5>
                        <p>RS 300/=</p>
                        <a href="#" class="btn btn-primary btn-sm shadow">Buy Now</a> <a href="#"
                            class="btn btn-warning btn-sm shadow">Add to card</a>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card shadow mx-auto" style="width: 18rem;">
                    <img src="/public/images/header.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Pizza</h5>
                        <p>RS 300/=</p>
                        <a href="#" class="btn btn-primary btn-sm shadow">Buy Now</a> <a href="#"
                            class="btn btn-warning btn-sm shadow">Add to card</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-block m-3">
            <a class="btn-sm btn btn-dark">Pre</a>
            <a class="btn-sm btn btn-dark">Next</a>
        </div>
    </div>
</section>
<%- include('./partials/footer.ejs')%>